.search{
    display:flex;
    align-items: center;

    height: 50px;

}



.searchInput{
margin-left:66%;
    color: black;
    border-radius: 8px;
    height: 30px;
    width: 300px;

}



.searchButton{
    margin-left: 2%;
    background-color: #7CB334;
    border-radius: 11px;
    height: 35px;
    width: 120px;
    font-size:medium;
font-weight: bold;
}