.Navbar {
  background: #7cb334;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 6vh;
  display: flex;
}

.secondnav{
  display: flex;
  margin-left: auto;

}
.secondnav .link +.link{
  margin-left: 70px ;
}

img{
  height: 200px;
}


h1{
  color: white;
  
}


.link{
  text-decoration: none;
}