.storedetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.details p {
    font-size: 35px;
    margin-left: 20px;
}


.details{
    margin-top: 40px;
    line-height: 65px;
}


.categoriesdiv{
    display: flex;
justify-content: space-around;
margin: auto;
width: 95%;
}



.productcard{
    height: 400px;
    width: 400px;
    background-color: #c1c2c5;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.productimage{
    width: 100%;
  height: 70%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 83%;
    margin: 0 auto;
}

.products h1,h4 {
    margin-left: 10px;
}

.detailsspan{
    margin-right: 20px;
}


.catimg{
    height: 200px;
}


.storeimg2{
    height: 90%;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    font-size: 30px; /* Adjust the size as needed */
  }
  