.table-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.table-wrapper {
    flex: 10;
    padding: 20px;
    overflow-y: scroll;
}

.table-title {
    font-size: 30px;
    color: green;
    margin-bottom: 15px;
    border-bottom: 2px solid green;
    padding-bottom: 3px;
    width: max-content;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
}

th {
    background-color: green;
    color:white;
}

tr:nth-child(even) {
    background-color: var(--white-color)
}

tr:hover {
    background-color: #ddd;
}

.table-image {
    display: flex;
    align-items: center;
}

.table-offer-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.table-offer-name {
    font-weight: 500;
    font-size: 17px;
    margin-left: 5px;
}

.table-button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table-button-group button {
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
}

.table-button-group button:last-child {
    background-color: red;
}

.table-button-group button:first-child:hover {
    background-color: green;
}

.table-button-group button:last-child:hover {
    background-color: red;
}

.table-button-group button a {
    color: white;
}

.admin-view-grocery-react{
    display: none;
   
}